psutil
scikit-image
scipy
mss
RPi.GPIO
ncnn
pnnx

# GUI - On Pi, install via apt: sudo apt install python3-pyqt6
PyQt6
PyQt6-Qt6
PyQt6-sip

# Data Processing - On Pi, install via apt: sudo apt install python3-opencv
numpy
opencv-python
PyYAML
sqlite3-binary; platform_system != 'Linux'

# Model & Training
ultralytics
optuna
tensorboard
torch
torchvision

# Testing
pytest
pytest-qt
pytest-cov

# Utilities - On Pi, install via apt: sudo apt install python3-pil
watchdog
Pillow
requests
